body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    font-family: Arial;
}

.content {}
.content .content-top {}
.content .content-bottom {}
.content .content-middle {}
	
h1 { }
h2 { }
	
div.block-1 {}
div.block-2 {}

a.button {}
a.button:hover {}
a.button:active {}